<div class="index" data-action="index">
    <section class="shape-container" id="cuadrado">
    	<h2>cuadrado</h2>
    	<input type="text" name="a" id="cuadroA"/>
    	<input type="button" value="Area" name="getResult" class="resButton">
    	<h3 class="result"></h3>
    </section>
    <section class="shape-container" id="rectangulo">
    	<h2>rectangulo</h2>
    	<input type="text" name="a" id="rectanguloA"/>
    	<input type="text" name="b" id="rectanguloB"/>
    	<input type="button" value="Area" name="getResult" class="resButton">
    	<h3 class="result"></h3>
    </section>
    <section class="shape-container" id="triangulo">
    	<h2>triangulo</h2>
    	<input type="text" name="a" id="trianguloA"/>
    	<input type="text" name="b" id="trianguloB"/>
    	<input type="button" value="Area" name="getResult" class="resButton">
    	<h3 class="result"></h3>
    </section>
    <section class="shape-container" id="rombo">
    	<h2>rombo</h2>
    	<input type="text" name="d" id="romboD"/>
    	<input type="text" name="c" id="romboC"/>
    	<input type="button" value="Area" name="getResult" class="resButton">
    	<h3 class="result"></h3>
    </section>
    <section class="shape-container" id="parelelogramo">
    	<h2>parelelogramo</h2>
    	<input type="text" name="a" id="parelelogramoA"/>
    	<input type="text" name="h" id="parelelogramoH"/>
    	<input type="button" value="Area" name="getResult" class="resButton">
    	<h3 class="result"></h3>
    </section>
    <section class="shape-container" id="trapecio">
    	<h2>trapecio</h2>
    	<input type="text" name="a" id="parelelogramoA"/>
    	<input type="text" name="b" id="parelelogramoB"/>
    	<input type="text" name="h" id="parelelogramoH"/>
    	<input type="button" value="Area" name="getResult" class="resButton">
    	<h3 class="result"></h3>
    </section>
    {{!-- <section class="shape-container" id="poligono-regular">
    </section> --}}
    <section class="shape-container" id="circulo">
    	<h2>circulo</h2>
    	<input type="text" name="pi" id="circuloPi"/>
    	<input type="button" value="Area" name="getResult" class="resButton">
    	<h3 class="result"></h3>
    </section>
</div>
